include ./svg/svg-horizontal-gradient
include ./svg/svg-vertical-gradient
include ./svg/svg-feature-world
include ./svg/svg-feature-compass
include ./svg/svg-feature-map
include ./svg/svg-feature-heart