//- ---------------------
//-     COMPONENTS
//- ---------------------
include ./components/feature-box
include ./components/card
include ./components/story
include ./components/bg-video
include ./components/form

//- ----------------------------------------------

//- ---------------------
//-     INLINE SVG
//- ---------------------
include ./inline-svg/svg-horizontal-gradient
include ./inline-svg/svg-vertical-gradient
include ./inline-svg/svg-logo
include ./inline-svg/svg-feature-world
include ./inline-svg/svg-feature-compass
include ./inline-svg/svg-feature-map
include ./inline-svg/svg-feature-heart