.composition {
  display: grid;
  grid-template: 1fr / 1fr;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
    @include brr($br-radius);
    @include trans(0.25);
    outline-offset: 2rem;
    grid-column: 1;
    grid-row: 1;

    &--ph1 {
      margin-top: -2rem;
    }

    &--ph2 {
      margin-left: auto;
      margin-top: 2rem;
    }

    &--ph3 {
      margin-left: 20%;
      margin-top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.5);
      z-index: 2;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
