.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    @include brr($br-radius);
    background-color: rgba($color: $color-white, $alpha: 0.5);
    border: 0;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    @include trans(0.25);

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: 0.1);
      border-color: $color-primary;
    }

    &:focus:invalid {
      border-color: $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: $font-weight-bold;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    @include trans(0.25);
  }

  &__input:placeholder-shown ~ &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    width: 50%;
    display: inline-block;
  }

  &__radio-label {
    font-size: $font-size-base;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  &__radio-button {
    @include size(2.6);
    @include brr(50%);
    border: 3px solid $color-primary-dark;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      @include size(1.4);
      @include brr(50%);
      background-color: $color-primary-dark;
      opacity: 0;
      @include trans(0.25, opacity);
    }
  }

  &__radio-input {
    display: none;
    visibility: hidden;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
