.story {
  width: 75%;
  margin: 0 auto 8rem;
  box-shadow: 0 3rem 6rem rgba($color: $color-black, $alpha: 0.1);
  background-color: rgba($color: $color-white, $alpha: 0.6);
  @include brr($br-radius);
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);

  @include respond-below(phone) {
    width: 95%;
    box-shadow: 0 1.5rem 3rem rgba($color: $color-black, $alpha: 0.1);
    transform: skewX(0);
    padding: 3rem;
    padding-left: 6rem;
    margin-bottom: 4rem;
  }

  &__shape {
    @include size(15);
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respond-below(phone) {
      transform: skewX(0);
      margin-right: 1.5rem;
    }
  }

  &__img {
    @include size(100%);
    object-fit: cover;
    transform: scale(1.2);
    @include trans(0.5);
  }

  &__text {
    transform: skewX(12deg);

    @include respond-below(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    @include absolute(top 50% left 50%);
    transform: translate(-50%, 20%);
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 1.7rem;
    @include trans(0.5);
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
