// --------------------------------------------------
//     Styles added only for the animations in JS
// --------------------------------------------------

// Navigation
.navigation {
  &__button,
  &__bg {
    transform: scale(0);
    transform-origin: center;
  }
}

// Header
.header {
  &__logo {
    transform: scale(0);
    transform-origin: center;
  }

  &__main-heading,
  &__sub-heading,
  &__btn {
    visibility: hidden;
    opacity: 0;
  }
}
