.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-text-center {
  text-align: center;
}

// ----------------------------------------------

// ***** GRADIENTS USED FOR SVG *****

#horizontal-gradient {
  --color-stop-1: #7ed56f; // $color-primary-light
  --color-stop-3: #28b485; // $color-primary-dark
}

#vertical-gradient {
  --color-stop-1: #7ed56f; // $color-primary-light
  --color-stop-3: #28b485; // $color-primary-dark
}
