.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0 30rem;
  margin-top: -20vh;

  .heading-secondary {
    grid-column: 1 / -1;
  }

  .text-wrapper {
    grid-column: span 2;
  }

  .composition {
    grid-column: span 2;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: $gradient-right-bottom, iurl('nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -11rem;

  & > * {
    transform: skewY(7deg);
    backface-visibility: hidden;
  }
}
