// ***** COLORS *****
$color-primary: #7ed56f;
$color-primary-light: #4fdf7f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-black: #000;

// ----------------------------------------------

// ***** GRADIENTS *****
$gradient-right-bottom: linear-gradient(
  to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
);

$gradient-right: linear-gradient(
  to right,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
);

// ----------------------------------------------

// ***** FONT WEIGHTS *****
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// ----------------------------------------------

// ***** FONT SIZES *****
$font-size-base: 1.6rem;

// ----------------------------------------------

// ***** GRID *****
$grid-width: 114rem;
$grid-gap-vertical: 8rem;
$grid-gap-horizontal: 6rem;
