.header {
  height: 95vh;
  background-image: $gradient-right-bottom, iurl('hero-small.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // MQ for high resolution screens - -webkit-device-pixel-ratio to odpowiednik min-resolution w Safari (stad musimy go zastosowac - bo pierwszy warunek nie bylby tam brany pod uwage)
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 112.5em) {
    background-image: $gradient-right-bottom, iurl('hero.jpg');
  }

  @include respond-below(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo {
    @include absolute(top 4rem left 4rem);
    fill: rgba($color: $color-white, $alpha: 0.9);
  }

  &__text-box {
    text-align: center;
    margin-top: -5%;
  }
}
