mixin svg-logo(addClass)
  svg(class=`${addClass !== null ? addClass : ''}`, width='62', height='35', viewbox='0 0 62 35', fill='black')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M14 34.5H47.5L61.3253 0L37.9124 17.068L31 4.5L23.7677 17.2629L0 0L14 34.5ZM22.7754 19.014L15.2577 32.2805L4.48269 5.72772L22.7754 19.014ZM36.2831 18.2557L30.9739 8.60269L25.3962 18.4457L30.7191 22.3118L36.2831 18.2557ZM32.4198 23.547L37.2548 20.0224L43.6991 31.7393L32.4198 23.547ZM29.0206 23.55L24.4039 20.1968L17.9168 31.6446L29.0206 23.55ZM20.1386 32.5H41.3431L30.7213 24.7852L20.1386 32.5ZM46.2536 32.2337L38.884 18.8346L56.8804 5.71539L46.2536 32.2337Z')


